*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: center;
    height: 80px;
    background-color: orange;
}
.header-center{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    /* background-color: aquamarine; */
}
/* Class Gender Txt */
.gender-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}
/* Logo */
#logo{
    display: flex;
    justify-content: center;
}
#logo img{
    width: 20%;
}
/* Icons */
.header-icons{
    display: flex;
    justify-content: space-between;
    width: 80px;
}
.header-icons i{
    cursor: pointer;
}